services:
  redis:
    image: redis:7-alpine
    container_name: hh_parser_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - hh_parser
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env
    networks:
      - hh_parser

  worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: worker
    depends_on:
      - redis
    env_file:
      - .env
    command:
      [
        "uv",
        "run",
        "celery",
        "-A",
        "app.celery_app.celery_app",
        "worker",
        "--loglevel=info",
        "--queues=hh_parsing_queue",
      ]
    networks:
      - hh_parser

volumes:
  redis_data:
    driver: local

networks:
  hh_parser:
    driver: bridge
